<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
    </head>

    <body>
        <h1>Detalle</h1>

        <div id = "contenido"></div>

        <script>
            const path = window.location.pathname;
            const partes = path.split("/");
            const id = partes[partes.length -2];

            if (!id) {
                document.body.innerHTML = "ID no especificado";
            }

            fetch(`http://127.0.0.1:8000/hospital/api/detalle/${id}/`)
            .then(res => res.json())
            .then(r => {
                const cont = document.getElementById("contenido");

                let html = `<h2>${r.examen}</h2>`;

                if (r.imagen) {
                    html += `<img src = "${r.imagen}" width="300"><br>`;
                }

                if (r.informe) {
                    html += `<iframe src="${r.informe}" width = "600" height = "400"></iframe><br>`;
                    html += `<a href="${r.informe}" download>Descargar informe</a>`;
                }

                cont.innerHTML = html;
            });

        </script>
    </body>
</html>