{% load static %}
<!DOCTYPE html>
<html lang="es">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> login </title>
</html>
<body>
    <div class="login-box">
       <input type="text" id = "correo" placeholder="Tu correo">
       <input type="password" id="contraseña" placeholder="Tu contraseña">
       <button onclick="login()">Ingresar</button>
       <p id="error" style="color:red"></p>
    </div>
    <script>
        function login() {
            const correo = document.getElementById("correo").value;
            const contraseña = document.getElementById("contraseña").value;
            fetch ("http://127.0.0.1:8000/hospital/api/login/", {
                method: "POST",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded"
                },
                body: new URLSearchParams({
                    correo: correo,
                    password: contraseña
                })
            })
            .then(res => res.json())
            .then(data => {
                if (data.success) {
                    localStorage.setItem("paciente_id", data.paciente_id);
                    window.location.href = "/hospital/resultados/";
                } else {
                    document.getElementById("error").innerText = "credenciales incorrectas"
                }
            });
        }
    </script>
</body>